<h2>add hero</h2>

<form [formGroup]="heroForm" (ngSubmit)="OnSubmitHero()">

    <p>
        <label for="Name">Name<span class="required">*</span>:</label>
    </p>
    <p>
        <input id="name" type="text" formControlName="name" />
        
    </p>
    <p *ngIf="heroForm.get('name')?.invalid && heroForm.get('name')?.dirty">
        invalid input
    </p>
    <p>
        <label for="Alias">Alias<span class="required">*</span>:</label>
    </p>
    <p>
        <input id="alias" type="text" formControlName="alias" />
    </p>
    <p *ngIf="heroForm.get('alias')?.invalid && heroForm.get('alias')?.dirty">
        invalid input
    </p>
    <p>
        <label for="BrandName">Brand Name<span class="required">*</span>:</label>
    </p>
    <p>
        <select id="brandName" formControlName="brandName"> 
            <option *ngFor="let brand of brands" [value]="brand">{{brand}}</option>
        </select>
        <!-- <input id="brandName" type="text" formControlName="brandName" /> -->
    </p>
    <button type="submit" [disabled]="!heroForm.valid" >Submit</button>
   
</form>